/* app/assets/stylesheets/application.css */
body {
  padding-top: 20px;
}

.container {
  max-width: 600px;
  margin-top: 50px;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

.btn-primary {
  display: block;
  width: 100%;
  margin-top: 20px;
}
